---
import Header from '../components/react/Header.tsx'
import SideBar from '../components/SideBar.astro'
import { ViewTransitions } from 'astro:transitions'
import { QueryClient } from '@tanstack/react-query'

const queryClient = new QueryClient({
  defaultOptions: {
    queries: {
      staleTime: 1000 * 60
    }
  }
})
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>TSN - Dashboard</title>
    <ViewTransitions />
  </head>
  <body class="grid grid-cols-[16rem_1fr] h-[100vh] grid-rows-[auto_1fr]">
    <SideBar />
    <Header />
    <main class="bg-zinc-100 px-10 py-14 overflow-x-scroll">
      <slot />
    </main>
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        h1 {
          @apply text-4xl font-bold;
        }

        h2 {
          @apply text-3xl font-semibold;
        }

        h3 {
          @apply text-2xl font-medium;
        }

        h4 {
          @apply text-xl font-normal;
        }

        li {
          @apply list-none;
        }

        th {
          @apply font-bold text-lg;
        }

        table {
          @apply rounded-2xl border-collapse border-spacing-3;
        }

        td:first-child,
        th:first-child {
          @apply border-l-[none];
        }
        td {
          @apply p-2;
        }
      }
    </style>
  </body>
</html>
