---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Dashboard">
    <main>
        <div class="container">
            <div class="col-md-12">
                <h1>Dashboard</h1>
            </div>
        </div>
    </main>
</Layout>
